/* App.css */

* {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
html,
body {
  height: 100%;
  /* margin: 0; */
  background-image: url("../assets/background-images/scott-webb-R5fIqR8nPu0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: "Poppins", Sans-serif;

  font-weight: 600;
}
.containers-content {
  text-align: center;

  color: white;
}

.App {
  text-align: center;
}

/* Navbar Styles */
.nav {
  background-color: rgb(175, 120, 118, 0.7);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav a:hover {
  background-color: rgb(179, 76, 87);
}

/*home*/
.home_text {
  background-color: rgb(179, 76, 87);
}
/* Styles for sign out and sign in Component */
.signout-button {
  background-color: rgb(175, 120, 118, 0);

  color: white;
  padding: 10px 15px;
  border: none;
  /*border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s;
}

.signout-button:hover {
  background-color: rgb(179, 76, 87);
}

/* Form Container Styles */
.Signup_container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(175, 120, 118, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.Signup_container label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.Signup_container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Signup_container button {
  background-color: rgb(175, 120, 118);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: background-color 0.3s;
}

.Signup_container button:hover {
  background-color: rgb(179, 76, 87);
}

.Signup_message {
  margin-top: 16px;
  color: rgb(236, 240, 236);
  padding: 10px;
}

/* Additional Styles for Questions Component */

.Questions_inner {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 100%; /* Set width to 100% to extend across the container */
  box-sizing: border-box;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(175, 120, 118, 0.8);
}
.questions-flex {
  display: flex;
  flex-direction: column; /* Updated to column for better alignment */
}

.Questions h2 {
  margin-bottom: 16px;
  color: whitesmoke;
}

.Questions div {
  margin-bottom: 16px;
}

.Questions .radio_buttons {
  display: flex;
  flex-direction: row; /* Updated to row for side-by-side alignment */
  justify-content: space-evenly;
}

.Questions label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: whitesmoke;
}

.Questions input {
  margin-right: 8px;
}
.Questions-next-button {
  position: fixed;
  bottom: 200px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

button {
  background-color: rgb(179, 76, 87);
  color: whitesmoke;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(113, 42, 49);
}

.Questions h6 {
  margin-top: 16px;
  color: whitesmoke;
}

.Questions_submmit {
  padding-top: 250px;
}
/* Additional Styles for Decision Component */
.Decision_container {
  text-align: center;
  padding: 20px;
}

.Decision_container p {
  margin-bottom: 20px;
  color: whitesmoke;
}

.Decision_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(175, 120, 118, 0.7);

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.Decision_container label {
  display: block;
  margin-bottom: 8px;
  color: whitesmoke;
}

.Decision_container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Decision_container button {
  background-color: rgb(175, 120, 118);
  color: whitesmoke;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Decision_container button:hover {
  background-color: rgb(179, 76, 87);
}

/* Additional Styles for Profile Component */
.Profile_container {
  text-align: center;
}

.Decision_button {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.Decision_final-message {
  padding: 10px;
  background-color: rgb(113, 42, 49);
  margin-top: 250px;
}
