/* App.css */

* {
  list-style: none;
}
body {
  font-weight: 500;
  color: #efedf4;

  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;

  background-image: url("../assets/demo-background-image.avif");
  background-repeat: cover;
}

.App {
  text-align: center;
}

/* Navbar Styles */
.nav {
  background-color: #3498db;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav a:hover {
  background-color: #2980b9;
}

.signout-button {
  background-color: #3498db;

  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signout-button:hover {
}

/* Form Container Styles */
.Signup_container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #3498db;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.Signup_container label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.Signup_container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Signup_container button {
  background-color: rgb(17, 82, 104);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: background-color 0.3s;
}

.Signup_container button:hover {
  background-color: rgb(4, 56, 4);
}

.Signup_message {
  margin-top: 16px;
  color: rgb(236, 240, 236);
  padding: 10px;
}

/* Additional Styles for Questions Component */
.Questions {
  text-align: center;
  color: #333;
}

.Questions form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Questions h2 {
  font-weight: 600;
  /* background-image: conic-gradient(
    #553c9a 0%,
    #553c9a 33%,
    #ee4b2b 33%,
    #ee4b2b 66%,
    #00c2cb 66%,
    #00c2cb 99%
  ); */
  background-image: repeating-radial-gradient(
    circle closest-corner at 100px 100px,
    #553c9a,
    #b393d3 10%,
    #553c9a 20%
  );

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* .Questions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
} */

.Questions button {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Questions button:hover {
  background-color: #2980b9;
}

.Questions h6 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 8px;
  background-color: #ddd;
  border-radius: 4px;
  color: #333;
}
.radio_buttons {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
.radio_buttons input,
.radio_buttons label {
  margin-bottom: 8px;
}
/* Additional Styles for Decision Component */
.Decision_container {
  text-align: center;
}

.Decision_button {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Decision_button:hover {
  background-color: #2980b9;
}

/* Additional Styles for Profile Component */
.Profile_container {
  text-align: center;
}

/* .Profile_message {
  margin-top: 16px;
  color: #e74c3c;
} */
